@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #030d9ded;
    color: whitesmoke; 
}

.destaqueTitulo {
    color: rgb(245, 209, 3);
}

.apresentacao {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.raposinha {
    position: absolute;
    bottom: 25px;
    right: 50px;
    width: 150px;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.raposinha:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", serif;
    font-size: 36px;
    margin: 0 4%
}

.apresentacao__conteudo__texto {
    font-family:"Montserrat", serif;
    font-size: 24px;
    margin: 0 4%
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    margin: 0 4%
}

.apresentacao__links__link {
    background-color: rgb(245, 209, 3);
    width: 250px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #030d9ded;
    font-family: "Montserrat", serif;
    font-weight: 600;
}